.App {
  font-family: sans-serif;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #e8efff;
  margin: 20px;
}
.company_name {
  display: inline-block;
  float: left;
  margin-left: 30px;
  
}
.nav_items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav_items li {
  display: inline-block; 
  margin-right: 10px; 
}

.nav_items li:last-child {
  margin-right: 0; 
}

.nav_items li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #B6AEC8;
}

.nav_items li a:hover {
  background-color: #ddd;
}
#carouselAutoplaying {
  width: 400px;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;

}
